<div class="section-top-border">
    <div class="row">
        <div class="col-lg-8 col-md-8" style="padding: 80px;">
            <h3 class="mb-30">Registro</h3>
            <form action="#">
                <div>
                    <h3 class="mb-30">Informacion de medico</h3>
                </div>
                <div class="mt-10">
                    <input type="text" name="cedula" id="cedula" placeholder="Cedula del medico"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Cedula del medico'" required
                           class="single-input">
                    <label for="cedula"></label>
                </div>
                <div class="mt-10">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombres del medico"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nomrbes del medico'" required
                           class="single-input">
                    <label for="nombre"></label>
                </div>
                <div class="mt-10">
                    <input type="text" name="apellido" id="apellido" placeholder="Apellidos del medico" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Last Name'" required class="single-input">
                    <label for="nombre"></label>
                </div>
                <div class="mt-10">
                    <input type="date" name="fecha_nc" id="fecha_nc"  required class="single-input">
                    <label for="nombre"></label>
                </div>
                <div class="section-top-border">
                    <div>
                        <h3 class="mb-30">Informacion de Cuenta</h3>
                    </div>
                    <div class="mt-10">
                        <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Email address'" required class="single-input">
                        <label for="nombre"></label>
                    </div>
                    <div class="mt-10">
                        <input type="password" name="clave" id="clave" placeholder="Clave"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Clave'" required
                           class="single-input">
                    <label for="clave"></label>
                </div>
                </div>

                <div class="mt-10">
                    <a href="#" class="genric-btn primary circle">Enviar</a>
                </div>

            </form>
        </div>
    </div>
</div>